<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="flight.css" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <title>Document</title>
</head>
<body style="background-color: whitesmoke;">
<header>
<ul>
    <li class="active"><i class="fa fa-plane" style="color: white; font-size: 20px; margin-right: 9%;"></i><a href="flight.html" >Flight</a></li>
    <li><i class="fa fa-bed" style="color: white; font-size: 20px; margin-right: 9%;"></i><a href="hotel.html">Hotel</a></li>
    <li><i class="fa fa-car" style="color: white; font-size: 20px; margin-right: 9%;"></i><a href="rental.html">Rental</a></li>
</ul>
</header>
<div class="flight_description">
    <p>Travel the world with us</p>
    <form action="">
        <label for="from" style="margin-right: 45.5%;">From</label>
        <label for="to">To</label>
        <br>
        <input type="text" id="from" name="from" placeholder="Departing from"
               style="width: 45%; height: 25px; padding: 0 1%; margin-top: 0.5%; margin-right: 2%;">
        <input type="text" id="to" name="to" placeholder="Arriving at"
               style="width: 45%; height: 25px; padding: 0 1%; margin-top: 0.5%;">
        <button>Search and find dates</button>
    </form>
</div>
</body>
</html>