<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="hotel.css" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <title>Document</title>
</head>
<body style="background-color: whitesmoke;">
<header>
    <ul>
        <li><i class="fa fa-plane" style="color: white; font-size: 20px; margin-right: 9%;"></i><a href="flight.html" >Flight</a></li>
        <li class="active"><i class="fa fa-bed" style="color: white; font-size: 20px; margin-right: 9%;"></i><a href="hotel.html">Hotel</a></li>
        <li><i class="fa fa-car" style="color: white; font-size: 20px; margin-right: 9%;"></i><a href="rental.html">Rental</a></li>
    </ul>
</header>
<div class="hotel_description">
    <p>Find the best hotels</p>
    <p style="font-size: 19px; margin-bottom: 2%;">Book a hotel with us and get the best fares and promotions.</p>
    <p style="font-size: 19px; margin-bottom: 2%;">We know hotels - we know comfort.</p>
        <button style="margin-top: 0;">Search Hotels</button>

</div>
</body>
</html>