<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="rental.css" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <title>Document</title>
</head>
<body style="background-color: whitesmoke;">
<header>
    <ul>
        <li><i class="fa fa-plane" style="color: white; font-size: 20px; margin-right: 9%;"></i><a href="flight.html" >Flight</a></li>
        <li><i class="fa fa-bed" style="color: white; font-size: 20px; margin-right: 9%;"></i><a href="hotel.html">Hotel</a></li>
        <li class="active"><i class="fa fa-car" style="color: white; font-size: 20px; margin-right: 9%;"></i><a href="rental.html">Rental</a></li>
    </ul>
</header>
<div class="rental_description">
    <p>Best car rental in the world!</p>
    <span><mark style="background-color: orangered; padding: 0.5%;color: white;">DISCOUNT!</mark></span> <p style="font-size: 19px; margin-bottom: 2%; display: inline">
    Special offer if you book today: 25% off anywhere in the world with CarServiceRentalRUs</p>
    <form action="">
        <input style="width: 90%; height: 30px; margin-top: 2%;" type="text" name="pick-up-point" id="pick-up-point" placeholder="Pick-up point">
    </form>
    <button style="margin-top: 2%;">Search Availability</button>

</div>
</body>
</html>