<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="Band_Template.css" type="text/css">
    <title>Band Template</title>
</head>
<body>
<nav>
    <a href="#">Home</a>
    <a href="#theband">Band</a>
    <a href="#tourdates">Tour</a>
    <a href="#to_contact">Contact</a>
    <a href="" class="more"> More
        <i class="fa fa-caret-down" style="color: white; font-size: 18px;"></i>
        <div class="more-content">
            <ul>
                <Li>Merchandise</Li>
                <Li>Extras</Li>
                <Li>Media</Li>
            </ul>
        </div>
    </a>
    <i class="fa fa-search" style="float: right; color: white;font-size: 19px; padding: 0.5% 1% 0.9%;"></i>
</nav>

<img src="template_images/la.jpg" alt="Band of Los Angeles" width="100%" height="960px">
<div class="center-bottom">
    <h2>Los Angeles</h2>
    <p style="font-size: 18px; margin-top: 4%;">We had the best time playing at Venice Beach!</p>
</div>

<div class="band" id="theband">
    <p style="text-align: center; font-size: 30px; margin-bottom: 5%;">THE BAND</p>
    <p style="text-align: center; margin-bottom: 2%; font-style: italic; color:grey;">We love music</p>
    <p style="margin-bottom: 7%;">We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <span>NAME</span>
    <span>NAME</span>
    <span>NAME</span>
    <img src="template_images/bandmember.jpg" alt="Band Member" style="margin-left: 7%;">
    <img src="template_images/bandmember.jpg" alt="Band Member" style="margin-left: 12%;">
    <img src="template_images/bandmember.jpg" alt="Band Member" style="margin-left: 12%;">
</div>

<div class="tour" id="tourdates" style="background-color: black; height: 700px;">
    <h1 style="color: white; text-align: center; font-size: 30px; margin-bottom: 3%;">TOUR DATES</h1>
    <p  style=" text-align: center; font-style: italic; color: lightgrey; font-size: 18px;
                  margin-bottom: 6%;">
        Remember to book your tickets!</p>
    <div class="dates-form">
      <p style="color: grey;text-align: left; padding: 1%; font-size: 18px;">September <mark style="background-color: orangered; margin-left: 2%; color: white; padding: 0 0.5%;">Sold out</mark> </p>
        <hr>
        <p style="color: grey;text-align: left; padding: 1%; font-size: 18px;">October<mark style="background-color: orangered; margin-left: 2%; color: white; padding: 0 0.5%;">Sold out</mark> </p>
        <hr>
        <p style="color: grey;text-align: left; padding: 1%; font-size: 18px;">November <mark style="background-color: black; color: white; border-radius: 60px; float: right; padding: 0.5%; ">3</mark></p>
    </div>
    <img src="template_images/newyork_band.jpg" alt="New York" style=" float: left;">
    <img src="template_images/paris_band.jpg" alt="Paris" style="display: inline-block; margin-left: 2%;">
    <img src="template_images/sanfran_band.jpg" alt="san Francisco" style="float: right;">
    <div class="img-description"style=" float: left;">
        <p style="font-weight: bold; text-align: left;color: black;font-size: 20px; margin-top: 1%;">New York</p>
        <p style="text-align: left;color: grey;font-size: 16px; margin-top: 5%;">Fri 27 Nov 2016</p>
        <p style="text-align: left;color: black;font-size: 16px; margin-top: 5%;">Praesent tincidunt sed tellus ut <br> rutrum sed vitae justo.</p>
        <button>Buy Tickets</button>
    </div>
    <div class="img-description"style="display: inline-block; margin-left: 2%;">
        <p style="font-weight: bold; text-align: left;color: black;font-size: 20px; margin-top: 1%;">Paris</p>
        <p style="text-align: left;color: grey;font-size: 16px; margin-top: 5%;">Sat 28 Nov 2016</p>
        <p style="text-align: left;color: black;font-size: 16px; margin-top: 5%;">Praesent tincidunt sed tellus ut <br> rutrum sed vitae justo.</p>
        <button>Buy Tickets</button>
    </div>
    <div class="img-description"style="float: right;">
        <p style="font-weight: bold; text-align: left;color: black;font-size: 20px; margin-top: 1%;">San Francisco</p>
        <p style="text-align: left;color: grey;font-size: 16px; margin-top: 5%;">Sun 29 Nov 2016</p>
        <p style="text-align: left;color: black;font-size: 16px; margin-top: 5%;">Praesent tincidunt sed tellus ut <br> rutrum sed vitae justo.</p>
        <button>Buy Tickets</button>
    </div>
</div>

<div class="contact" id="to_contact" style="height: 350px;">
    <h1 style="color: black; text-align: center; font-size: 30px; margin-bottom: 3%;">CONTACT</h1>
    <p  style=" text-align: center; font-style: italic; color: grey; font-size: 18px;
                  margin-bottom: 6%;">
        Fan? Drop a note!</p>
    <ul>
        <li><i class="fa fa-map-marker" style="margin-right: 6%; color: black; font-size: 20px;"></i>Chicago, US</li>
        <li><i class="fa fa-phone" style="margin-right: 5%; color: black; font-size: 20px;"></i>Phone: +00 151515</li>
        <li><i class="fa fa-envelope"style="margin-right: 4%; color: black; font-size: 20px;"></i>Email: mail@mail.com</li>
    </ul>
     <div class="fan-form">
         <form action="">
             <input type="text" id="name" name="name" placeholder="Name" style="margin-right: 2%" required>
             <input type="email" id="email" name="email" placeholder="Email" style="" required> <br>
             <input type="text" id="message" name="message" placeholder="Message" style="width: 96%" required>
             <button>Send</button>
         </form>

     </div>
</div>

<img src="template_images/map.jpg" alt="Map" style="width: 100%; height: 1000px;">

<div class="powered-by">
    <i  class="fa fa-facebook-square" style="margin-left: 46%;"></i>
    <i  class="fa fa-instagram"></i>
    <i  class="fa fa-snapchat"></i>
    <i  class="fa fa-pinterest"></i>
    <i  class="fa fa-twitter"></i>
    <i  class="fa fa-linkedin"></i>
    <p style="color: grey; font-size: 15px;margin-top: 1%;">Powered by <a href="Band_Template.html" style="color:grey;">Band Template</a></p>
</div>
</body>
</html>