<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="People_Portfolio_Template.css" type="text/css">
    <title>People Portfolio Template</title>
</head>
<body style="padding-left: 10%; padding-right: 10%;background-color: whitesmoke;">
<nav>
    <h1>SOME <br>NAME</h1>
    <a href="#">PORTFOLIO</a>
    <a href="#about-me">ABOUT ME</a>
    <a href="#contact-me">CONTACT</a>
</nav>
<div class="images">
    <img src="template_images/pp1.jpg" alt="">
    <img src="template_images/pp2.jpg" alt="">
    <img src="template_images/pp3.jpg" alt="">
    <img src="template_images/pp4.jpg" alt="">
    <img src="template_images/pp5.jpg" alt="">
    <img src="template_images/pp6.jpg" alt="">
    <img src="template_images/pp7.jpg" alt="">
    <img src="template_images/pp8.jpg" alt="">
    <img src="template_images/pp9.jpg" alt="">
</div>

<div class="pagination">
    <a href="" style="margin-left: 41%;">&laquo;</a>
    <a href="" id="active">1</a>
    <a href="">2</a>
    <a href="">3</a>
    <a href="">4</a>
    <a href="">&raquo;</a>
</div>

<div class="about" id="about-me" >
    <h1 style="color: white;">About</h1>
    <img src="template_images/avatar_hat.jpg" alt="">
    <h2>My Name</h2>
    <p>Some text about me. I love taking photos of PEOPLE. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>mail: example@example.com</p>
    <p>tel: 5353 35531</p>
    <hr style="width: 77%; margin-left: 22%;">
    <h2 style="margin-top: 5%;">How much I charge</h2>
    <div class="basic-pro" style="margin-left: 22%;">
   <ul>
       <li style="padding: 8% 5%; background-color: black; color: white; font-size: 28px;">Basic</li>
       <li>Web Design</li>
       <li>Photography</li>
       <li>5GB Storage</li>
       <li>Mail Support</li>
       <li style="border: none; font-size: 40px; padding-bottom: 0;">$ 10</li>
       <li>per month</li>
       <li style="border: none; background-color: lightgrey;">
           <button class="basic-pro-button" style="border: none; font-size: 18px;
            text-align: center; padding: 3%;">Sign Up</button>
       </li>
   </ul>
    </div>
    <div class="basic-pro">
        <ul>
            <li style="padding: 8% 5%; background-color: black; color: white; font-size: 28px;">Pro</li>
            <li>Web Design</li>
            <li>Photography</li>
            <li>50GB Storage</li>
            <li>Endless Support</li>
            <li style="border: none; font-size: 40px; padding-bottom: 0;">$ 25</li>
            <li>per month</li>
            <li style="border: none; background-color: lightgrey;">
                <button class="basic-pro-button" style="border: none; font-size: 18px;
            text-align: center; padding: 3%;">Sign Up</button>
            </li>
        </ul>
    </div>
</div>

<div class="contact" id="contact-me" style="background-color: whitesmoke;height: 500px;">
    <h1>Contact Me</h1>
    <p>Do you want me to photograph you? Fill out the form and fill me in with the details :) I love meeting new people!</p>
    <form action="">
        <label for="name">Name</label> <br>
        <input type="text" id="name" name="name" required> <br>
        <label for="email">Email</label> <br>
        <input type="email" id="email" name="email" required> <br>
        <label for="message">Message</label> <br>
        <input type="text" id="message" name="message" required> <br>
        <button>Send Message</button>
    </form>
</div>

<div class="info" style="background-color: darkgrey;height: 250px; padding: 0; width: 80%;">
    <div class="info-content" >
        <h1>INFO</h1>
        <p style="background-color: darkgrey; color: black;">Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
    </div>

    <div class="info-content">
     <h1>BLOG POST</h1>
       <div class="blog-post-inside" style="border-bottom: 1px solid white;">
           <img src="template_images/workshop.jpg" alt="">
            Lorem <br>
            sed mattis nunc
       </div>
        <div class="blog-post-inside">
            <img src="template_images/gondol.jpg" alt="">
            Ipsum <br>
            Praes tinci sed
        </div>
    </div>

    <div class="info-content">
        <h1>POPULAR TAGS</h1>
        <p class="tags" style="background-color: black; padding: 1% 3%;">Travel</p>
        <p class="tags">Ney York</p>
        <p class="tags">London</p>
        <p class="tags">IKEA</p>
        <p class="tags">NORWAY</p>
        <p class="tags">DIY</p>
        <p class="tags">Ideas</p>
        <p class="tags">Baby</p>
        <p class="tags">Family</p>
        <p class="tags">News</p>
        <p class="tags">Clothing</p>
        <p class="tags">Shopping</p>
        <p class="tags">Sports</p>
        <p class="tags">Games</p>
    </div>
</div>

<div class="powered-by" style="background-color: black; height: 50px;">
 <p style="text-align: center; color: white; font-size: 18px;">Powered by <a href="People_Portfolio_Template.html" style="color: white;">People Portfolio Template</a> </p>
</div>
</body>
</html>